@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
}
:root {
  --linkedin-blue: #0072b1;
  --primary-background-color: white;
  --secondary-background-color: #f3f2ef;
}

/* Navbar */

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--primary-background-color);
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid var(--secondary-background-color);
}

.navbar-wrap {
  height: 80px;
  width: 1280px;
  margin: 0 auto;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-col1 {
  display: flex;
  align-items: center;
}

.navbar-searchbar input {
  height: 48px;
  width: 200px;
  overflow: hidden;
  margin-left: 15px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: lightgrey;
  padding-left: 30px;
  transition: width 0.5s ease-in;
  cursor: text;
}
.navbar-searchbar input:focus {
  width: 300px;
  border: 1px solid black;
}

/* Navbar for bigger screens */
.navbar-col2 {
  display: none;
  height: 90%;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0px -16px;
}

.navbar-col2 ul {
  margin: none;
  display: flex;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.nav-pill-container {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-pill-container:hover {
  border-bottom: 2px solid black;
}

.nav-pill-icon {
  display: none;
  margin: none;
}
.nav-pill-text {
  margin: none;
}

/* Navbar for smaller screens */
.navbar-col2-small ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  background-color: var(--primary-background-color);
  color: var(--linkedin-blue);
  left: 0;
  top: 75px;
  transition: all 0.5s ease-out;
  width: 100%;
}

.navbar-col2-small .nav-pill-container {
  padding: 10px;
}

.navbar-col2-small .nav-pill-container:hover {
  border: 2px solid var(--primary-background-color);
  background-color: var(--secondary-background-color);
}

.hamburger-menu {
  display: block;
  position: relative;
  z-index: 1;
  cursor: pointer;

  user-select: none;
  appearance: none;
  border: none;
  background-color: inherit;
}

.hamburger-menu span {
  display: block;
  width: 32px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: var(--linkedin-blue);
  border-radius: 5px;
  z-index: 1;

  transform-origin: 0 0;
  transition: 0.4s;
}

/* Responsive Navbar consitions */

@media (min-width: 990px) {
  .hamburger-menu {
    display: none;
  }
  .navbar-col2 {
    display: flex;
  }
  .nav-pill-icon {
    display: flex;
  }
}

/* Main  */

.main {
  /* width: 100vw;
  height: 100vh; */
  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-body {
  display: flex;
  align-items: flex-start;

  /* flex-direction: row; */
  height: 100%;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
}

/* Content Feed */

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Sidebar */

.sidebar {
  position: sticky;
  top: 90px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}

.sidebar-profile-avatar {
  margin-bottom: 10px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  background-color: var(--primary-background-color);
  padding-bottom: 10px;
  margin-top: 10px;
}

.sidebar-top img {
  margin-bottom: -20px;
  width: 100%;
  height: 80px;
  border-radius: 10px 10px 0px 0px;
  /* object-fit: cover; */
}

.sidebar-top h4 {
  font-weight: bold;
  color: gray;
}

.sidebar-stats-container {
  background-color: var(--primary-background-color);
  margin-top: 5px;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
}

.sidebar-stat {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.sidebar-stat p {
  color: gray;
}

.sidebar-stat p:hover {
  color: var(--linkedin-blue);
  cursor: pointer;
}

.sidebar-stat .stat-number {
  font-weight: bolder;
  color: var(--linkedin-blue);
}

.sidebar-card {
  margin-top: 10px;
  background-color: var(--primary-background-color);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.sidebar-card-reverse {
  max-width: 100%;
  margin-top: 10px;
  background-color: var(--secondary-background-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebar-card h4 {
  font-weight: bolder;
  text-align: left;
  padding: 10px;
}

.sidebar-card ul {
  text-align: left;
}

.sidebar-card ul li {
  padding: 5px;
  font-weight: bold;
  color: gray;
  list-style: none;
  cursor: pointer;
}

.sidebar-card ul li:hover {
  color: black;
  background-color: lightgray;
}

/* Post feeds */

.postfeed-main-container {
  flex: 0.6;
  margin: 70px 20px 0px 20px;
  top: 90px;
  overflow-y: hidden;
}

.input-container {
  background-color: var(--primary-background-color);
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-input {
  display: flex;
  border: 1px solid lightgray;
  padding: 10px;
  color: gray;
  border-radius: 25px;
  padding-left: 20px;
}

.post-input form {
  display: flex;
  width: 100%;
}

.post-input form input {
  border: none;
  flex: 1;
  margin: none;
}
.post-input form input:focus {
  outline: none;
}

.post-short-message {
  font-size: small;
  color: tomato;
}
.post-btn {
  padding: 10px;
  background-color: var(--linkedin-blue);
  border: 1px solid var(--linkedin-blue);
  color: var(--primary-background-color);
  border-radius: 10px;
}

.post-btn:disabled {
  background-color: var(--primary-background-color);
  color: var(--linkedin-blue);
  cursor: not-allowed;
}

/* Input Buttons */

.input-btns-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  /* margin-right: 10px; */
}

.input-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}

.input-btn:hover {
  background-color: var(--secondary-background-color);
}
.input-btn h4 {
  margin-left: 10px;
  font-weight: bold;
}

/* Feeds */

.feed-container {
  background-color: var(--primary-background-color);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.feed-title {
  display: flex;
  margin-bottom: 10px;
}

.feed-info {
  margin-left: 15px;
}
.feed-info h3 {
  font-weight: bold;
}
.feed-info h3:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--linkedin-blue);
}

.feed-info p {
  font-size: medium;
  color: gray;
}

.feed-body {
  overflow-wrap: anywhere;
}

.feed-footer {
  max-width: 100%;
  margin: 10px;
}

/* Sidebar Right */
.sidebar-right {
  position: sticky;
  top: 90px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
}
.footer-container {
  margin-top: 10px;
}

.footer-container a {
  text-decoration: none;
  color: gray;
  padding: 15px 10px;
}

.footer-container a:hover {
  cursor: pointer;
  color: var(--linkedin-blue);
}

.footer-brand {
  display: flex;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.footer-brand span {
  font-weight: bold;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .main-body {
    flex-direction: column;
    margin: auto;
  }

  .sidebar {
    width: 100vw;
    padding: 0px 20px;
    position: relative;
  }

  .sidebar-card {
    display: none;
  }

  .postfeed-main-container {
    width: 95vw;
    margin: auto;
    text-overflow: ellipsis;
  }
  .input-container {
    margin-top: 110px;
  }

  .input-btns-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
/* 
.main {

  background-color: var(--secondary-background-color);
  display: flex;
  flex-direction: row;
  align-items: center;
} */
